# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/
lambda_function.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform (if used later)
.terraform/
*.tfstate
*.tfstate.backup
